@import '../../assets/styles/variables.scss';

.price-block {
  width: 600px;
  margin-top: 10px;
  .sign {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    width: 50px;
    font-size: 30px;
    color: darkgrey;
  }
  &-item {
    display: inline-block;
    text-align: center;
    height: 70px;
    vertical-align: middle;
    .header {
      margin-bottom: 5px;
      font-size: $f-size;
    }
    &.self-price {
      width: 150px;
      .body {
        font-size: 25px;
        font-weight: bold;
      }
    }
    &.extra-price {
      width: 120px;
    }
    &.total-price {
      width: 120px;
    }
    &.extra-price,
    &.total-price {
      .input {
        display: inline-block;
        width: 100px;
      }
      .header {
        padding-right: 20px;
      }
    }
  }
}
