<div class="edit-tech-card">
  <form class="edit-item-form" name="techCard">
    <div class="form-group">
      <label for="name">Название</label>
      <input v-focus v-click-focus v-model="newTechCard.name" name="name" type="text" id="name" class="form-control">
    </div>
    <div class="form-group" v-if="categories !== null && categories.length > 0">
      <label for="category">Категория</label>
      <select v-model="newTechCard.category" id="category" class="form-control">
        <option :value="null"></option>
        <option v-for="category in categories" :value="category">{{category.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="image">Фотография</label>
      <input type="file" name="image" id="image" class="form-control-file">
    </div>
  </form>
  <div v-if="ingredients" class="sub-items-table-wrapper">
    <h5>Ингредиенты</h5>
    <table class="table-sm table-bordered">
      <thead>
      <tr>
        <th>Ингредиент</th>
        <th>Метод приготовления</th>
        <th>Брутто</th>
        <th>Нетто</th>
        <th>Цена</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(techCardIngredient, i) in newTechCard.techCardIngredients">
        <td>
          <select v-model="techCardIngredient.ingredient" class="form-control">
            <option v-for="ingredient in ingredients"
                    v-show="newTechCard.techCardIngredients.findIndex(d => d.ingredient.id === ingredient.id) === -1"
                    :value="ingredient">{{ingredient.name}}</option>
          </select>
        </td>
        <td class="cook-method">
          <div class="form-group">
            <label for="clean">Очистка</label>
            <input v-model="techCardIngredient.cookingMethods" value="clean" type="checkbox" id="clean" class="form-control" @change="changeGrossWeight($event, techCardIngredient)">
          </div>
          <div class="form-group">
            <label for="fry">Жарка</label>
            <input v-model="techCardIngredient.cookingMethods" value="fry" type="checkbox" id="fry" class="form-control" @change="changeGrossWeight($event, techCardIngredient)">
          </div>
          <div class="form-group">
            <label for="boil">Варка</label>
            <input v-model="techCardIngredient.cookingMethods" value="boil" type="checkbox" id="boil" class="form-control" @change="changeGrossWeight($event, techCardIngredient)">
          </div>
          <div class="form-group">
            <label for="stew">Тушение</label>
            <input v-model="techCardIngredient.cookingMethods" value="stew" type="checkbox" id="stew" class="form-control" @change="changeGrossWeight($event, techCardIngredient)">
          </div>
          <div class="form-group">
            <label for="bake">Запекание</label>
            <input v-model="techCardIngredient.cookingMethods" value="bake" type="checkbox" id="bake" class="form-control" @change="changeGrossWeight($event, techCardIngredient)">
          </div>
        </td>
        <td>
          <input v-click-focus
                 v-model.number="techCardIngredient.grossWeight"
                 type="number"
                 class="form-control weight-input"
                 @blur="setZeroIfEmpty($event, techCardIngredient, 'grossWeight')"
                 @input="changeNetWeight($event, techCardIngredient)">
          <span v-if="techCardIngredient.ingredient.measure === 'шт'">шт</span>
          <span v-else>г</span>
        </td>
        <td>
          <input v-click-focus
                 v-model.number="techCardIngredient.netWeight"
                 type="number"
                 class="form-control weight-input"
                 @blur="setZeroIfEmpty($event, techCardIngredient, 'netWeight')"
                 @input="changeGrossWeight($event, techCardIngredient)">г
        </td>
        <td>
          <div v-if="techCardIngredient.ingredient.id !== null">
            {{getIngredientPrice(techCardIngredient)}}руб
          </div>
        </td>
        <td>
          <i class="table-action fa fa-remove" @click="deleteTechCardIngredient(i)"></i>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="footer">
      <a href="#" @click="addNewIngredient">Добавить ингредиент</a>
      <div class="exit-weight">
        <span>Выход: {{exitWeight}}г</span>
      </div>
    </div>
  </div>
  <div class="price-block">
    <div class="price-block-item self-price">
      <div class="header">
        Себестоимость
      </div>
      <div class="body">
        <div>{{Math.round(selfPrice * 10) / 10}}руб</div>
      </div>
    </div>
    <div class="sign">+</div>
    <div class="price-block-item extra-price">
      <div class="header">
        Наценка
      </div>
      <div class="body">
        <div class="input">
          <input v-click-focus v-model.number="extraPrice" type="number" id="extraPrice" class="form-control" @input="calcTotalPrice">
        </div>
        <span>%</span>
      </div>
    </div>
    <div class="sign">=</div>
    <div class="price-block-item total-price">
      <div class="header">
        Цена
      </div>
      <div class="body">
        <div class="input">
          <input v-click-focus v-model.number="newTechCard.price" type="number" id="price" class="form-control" @input="calcExtraPrice">
        </div>
        <span>р</span>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button v-if="alertMessage === null" class="btn btn-primary" :disabled="!validForm" @click="saveTechCard">Сохранить</button>
    <div v-else-if="alertMessage === 'success'" class="alert alert-success">Тех карта добавлена успешно</div>
    <div v-else-if="alertMessage === 'error'" class="alert alert-danger">Ошибка при добавлении тех карты</div>
  </div>
</div>
