<div class="ingredients-block">
  <table class="table-sm table-bordered" v-if="warehouse">
    <thead>
      <tr>
        <th>Название</th>
        <th>Остаток на складе</th>
        <th>Ед. измерения</th>
        <th>Потери</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(ingredient, i) in ingredients">
        <td>{{ingredient.name}}</td>
        <td>{{warehouseMap[ingredient.name].amount}}{{ingredient.measure}}</td>
        <td>{{ingredient.measure}}</td>
        <td>{{ingredient.lostClean}}%, {{ingredient.lostBoil}}%, {{ingredient.lostFry}}%, {{ingredient.lostStew}}%, {{ingredient.lostBake}}%</td>
        <td>
          <i class="table-action fa fa-edit" @click="editIngredient(ingredient, i)"></i>
          <i class="table-action fa fa-remove" @click="deleteIngredient(ingredient, i)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
