<div class="new-goods">
  <form class="edit-item-form">
    <div class="form-group">
      <label for="name">Название</label>
      <input v-focus v-model="newGoods.name" type="text" id="name" class="form-control">
    </div>
    <div class="form-group" v-if="categories !== null && categories.length > 0">
      <label for="category">Категория</label>
      <select v-model="newGoods.category" id="category" class="form-control">
        <option :value="null"></option>
        <option v-for="category in categories" :value="category">{{category.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="price">Цена</label>
      <input v-model="newGoods.price" type="text" id="price" class="form-control">
    </div>
    <div class="form-group">
      <label for="photo">Фотография</label>
      <input type="file" id="photo" class="form-control-file" @change="loadImage($event)">
    </div>
    <div class="form-check">
      <input v-model="newGoods.isWeighted" type="checkbox" id="isWeighted" class="form-check-input">
      <label for="isWeighted" class="i-b form-check-label">Весовой товар</label>
    </div>
  </form>
  <div class="buttons">
    <button v-if="alertMessage === null" class="btn btn-primary" :disabled="!validForm" @click="saveGoods">Сохранить</button>
    <div v-else-if="alertMessage === 'success'" class="alert alert-success">Товар добавлен успешно</div>
    <div v-else-if="alertMessage === 'error'" class="alert alert-danger">Ошибка при добавлении товара</div>
  </div>
</div>
