<div class="edit-category">
  <form class="edit-item-form" name="category">
    <div class="form-group">
      <label for="name">Название</label>
      <input v-focus v-click-focus v-model="newCategory.name" name="name" type="text" id="name" class="form-control">
    </div>
    <div class="form-group" v-if="categories !== null && categories.length > 0">
      <label for="parent">Родительская категория</label>
      <select v-model="newCategory.parentCategory" name="parentCategory" id="parent" class="form-control">
        <option :value="null"></option>
        <option v-for="category in filteredCategories" v-if="newCategory !== category" :value="category">{{category.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="photo">Фотография</label>
      <input type="file" id="photo" name="image" class="form-control-file">
    </div>
  </form>
  <div class="buttons">
    <button v-if="alertMessage === null" class="btn btn-primary" :disabled="!validForm" @click="saveCategory">Сохранить</button>
    <div v-else-if="alertMessage === 'success'" class="alert alert-success">Категория добавлена успешно</div>
    <div v-else-if="alertMessage === 'error'" class="alert alert-danger">Ошибка при добавлении категории</div>
  </div>
</div>
